*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url("../assets/image/background.jpg");
    background-size: 100% 200%;
    background-repeat: no-repeat;
   
}

.container-navigation{
    width: 100%;
    position: sticky;
    top: 1px;
    z-index: 99;
   

}

.navigation{
    max-width: 1440px;
    width: 98%;
    height: 50px;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    background-color: #0572FF;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);

}

.logo-navigation{
    width: 80px;
    height: auto;
}
.logo-navigation img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.link-nav{
    font-size: 0.5em;
    color: #fff;
    text-decoration: none;
}

.link-nav i{
    padding: 0.4em;
}

.link-nav-active{
    width: auto;
    padding: 1em;
    border-radius: 12px;
    background-color: #fff;
    color: #0572FF;

}

.link-nav:hover{
    width: auto;
    padding: 1em;
    border-radius: 12px;
    background-color: #fff;
    color: #0572FF;
}

.clock-digital{
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0572FF;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);

}

.icon-clock{
    width: 20px;
    height: auto;
    
}

.icon-clock img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.clock-digital span{
    font-size: 0.8em;
    color: #fff;
}

/*SECTION INICIO*/
.sect-inicio{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.art-container-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-inicio{
    width: 90%;
    height: 250px;
}

.photo-inicio img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    mask-image: linear-gradient(black 80%, transparent);
}

.btn-downloadCV{
    width: 80%;
    padding: 0.8em;
    background: none;
    border: none;
    outline: none;
    background-color: #0572FF;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}

.btn-downloadCV:hover{
    background-color: #0347a0;
}

.art-container-2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art-container-2 h2{
    font-weight: 600;
    font-size: 1.2em;
    margin: 0.2em 0;

    
}
.btn-downloadCV2{
    display: none;
  
}
.icon-skills{
    width: 90%;
    display: flex;
    margin: 0.5em 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.icon-skills img{
    width: 40px;
    height: 40px;

}

/*SECTION ABOUT*/

.container-about{
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 1;
    

}

.img-about{
    width: 90%;
    height: 80%;

    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
}

.img-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(5px 0px 2px #000);
   
}
.art-about{
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    padding-top: 2em;

}

.art-about h2{
    font-size: 3.5em;
    font-weight: bold;
    padding: 0.1em;
    
}

.squart-span{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d4d4d480;
    z-index: -3;
}

.art-aboutText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
   
   
}

.about-information{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
   
}

.about-information h2{
    font-size: 1em;
    text-align: end;
}

.about-information h3{
    font-size: 0.6em;
    text-align: end;
    background-color: #0572FF;
    padding: 0.6em;
    font-weight: 600;
    color: #fff;
}

.about-information a{
    font-size: 0.7em;
    color: #242424;
    margin-top: 0.4em;
    text-decoration: none;
}

.about-information a i{
    margin-right: 0.5em;
}

.about-information a:hover{
    font-size: 1em;
    transition: all 1s;
}

.text-profesional{
    max-width: 1440px;
    height: auto;
    background-color: #0572FF;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.text-profesional p{
    color: #fff;
    font-size: 0.8em;
    padding: 1em;
    text-align: center;
}

.sect-card{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    width: 80%;
    background-color: #0572FF;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

.card-title h2{
    width: 100%;
    padding: 0.2em;
    font-size: 0.9em;
    text-align: center;
    color: #fff;
}

.card{
    position: relative;
    width: 90%;
    margin: 0.8em 0;
    box-shadow: 0px 0px 5px 2px rgba(21,163,66,1);
    border-radius: 12px;
    overflow: hidden;
    z-index: -1;
}





.header-card{
    width: 100%;
    height: auto;
    background-color: #dedede;
    padding: 0.2em;
    text-align: center;
}

.header-card img{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
}

.body-card{
    width: 100%;
    height: auto;
    padding: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-evenly;
}

.back-card{
    background-color: #0347a0;
    padding: 0.2em;
    color: #fff;
    font-size: 0.8em;
    border-radius: 5px;
    letter-spacing: 1px;
    
    
}

.body-card h2{
    font-size: 0.8em;
    text-align: center;
}

.back-success{
    width: 80%;
    text-align: center;
    background-color: green;
    color: #fff ;  
    padding: 0.3em;  
    border-radius: 8px;
    text-decoration: none;

}
.back-warning{
    width: 80%;
    text-align: center;
    background-color: rgb(116, 120, 3);
    color: #fff ;  
    padding: 0.3em;  
    border-radius: 8px;
    text-decoration: none;

}

.sect-skills{
    width: 100%;
    height: 40vh;
    position: relative;
    background-color: #0572FF;
}

.back-edif{
    width: 100%;
    height: 20vh;
    display: block;
    position: absolute;
    bottom: 0;
    background-image: url("../assets/image/edif.png");
    background-size: contain;
    
}

.art-skills{
    max-width: 1440px;
    margin: 0 auto;
    overflow: auto;

}

.div-textSkill{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1em;

    
}

.div-textSkill h2{
    width: 60%;
    
    background-color: #fff;
    color: #0572FF;
    padding: 0.4em;
    border-radius: 12px;
    box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.75);

   
 
}

.fig-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 1em 0;
}

.fig-skills img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 0.6em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.75);

}

.sect-proyecto{
    max-width: 1440px;
    margin: 0 auto;
}

.title-proyecto{
    width: 100%;
    position: relative;
   
}

.title-proyecto h2{
    width: 100%;
    padding: 0.8em;
    font-size: 0.7em;
    background-color: #045ed3;
    color: #fff;
    margin-top: 1em;
    text-align: center;

}
.slider{
    width: 100%;
    position: relative;
    
}

.slider-card{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1em;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 17px 0px rgba(0, 86, 207, 0.912);
    overflow: auto;

}

.img-slider{
    width: 90%;
    height: 40%;
    background: violet;
    margin: 0 auto;
    margin-top: 0.3em;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 17px 0px rgba(145, 145, 145, 0.608);

}

.img-slider img{
    width: 100%;
    height: 100%;
    
}

.tag-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin:0.8em 0;
}

.tag-slider p{
    font-size: 0.7em;
    background-color: #0571ff83;
    padding: 0.2em;
    border-radius: 12px;
   

}

.title-slider{ 
    width: 100%;
    text-align: center;
    margin: 0.3em 0;
}

.title-slider p{
    font-size: 0.8em;
}

.slider-link{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider-link a{
    letter-spacing: 1px;
    background-color: #0347a0;
    padding: 0.5em;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
}

.slider-link a i{
    margin-right: 0.5em;
}

.slider-git{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.slider-git a{
    color: #000;
    font-size: 1.5em;
}

.slider-tecnologias{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.8em 0;
}

.slider-tecnologias img{
    width: 25px;
    height: 25px;
}









/* STYLE TABLET*/
@media (min-width: 768px) {
    .container-navigation{
        display: flex;
        align-items: center;
    }
    .navigation{
        width: 50%;
    }

    .clock-digital{
        width: 30%;
    }

    .navigation-order-1{
        order: 2;
    }

    .sect-inicio{
        display: flex;
        flex-direction: row;
       
    }
    .art-container-1{
       
        justify-content: center;
    }
    .btn-downloadCV{
        display: none;
    }


    .art-container-2{
       
        justify-content: center;
        align-items: start;
    }
    .icon-skills{
        justify-content: start;
    }
    .art-container-2 h2{
        font-size: 1.5em;
    }

    .btn-downloadCV2{
        display: block;
        width: 50%;
    }

    .container-about{
        display: flex;
        height: 80vh;
        position: static;
    }

    .text-profesional p{
        font-size: 1.2em;
        line-height: 25px;
    }

    .sect-card{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
    }
    .card{
        width: 45%;
        margin-left: 1em;
    }

    .card-title{
        width: 70%;
    }

    .card-title h2{
        font-size: 1.5em;
    }

    .about-item1{
        order: 2;
    }
    .about-item2{
        order: 1;
    }
    .about-item3{
        order: 1;
    }
 
    .art-about{
        padding: 0.8em;
        text-align: start;
    }
    .img-about{
        width: 50%;
        left: 0%;
        position: static;
     
        
    }

    .img-about img{
        object-fit: contain;
        object-position: 50% 50%;
    }
    .about-information{
        padding: 1em;
        width: 100%;
    }

    .about-information h2{
        font-size: 2.0em;
    }
    .about-information h3{
        font-size: 1em;
    }
    .about-information a{
        font-size: 1em ;   
    }
    .sect-skills{
        height: auto;
        padding: 0.5em;
    }

    .art-skills{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .slider-card{
        width: 300px;
    }

    .swiper-wrapper{
        justify-content: center;
    }
    

   

   

   
}  


/*STYLE MOBIL*/
@media (min-width: 1024px) {
    .navigation{
        width: 40%;
    }

    .link-nav{
        font-size: 0.8em;
    }
    .clock-digital{
        width: 20%;
    }

    .art-container-2 h2{
        font-size: 2.5em;
    }
    .btn-downloadCV2{
        width: 30%;
    }

    .img-about{
        left: -15%;
       
    }

    .container-about{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
 

    .about-item1{
        order: 2;
    }
  
    .about-item3{
        order: 1;
    }

    .art-aboutText{
        width: 50%;
        
    }
    .about-information{
        width: 100%;
    }
    .about-information h2{
        font-size: 4em;
    }

    .about-information h3{
        font-size: 1.2em;
    }

    .about-information a{
        font-size: 1.2em;
    }
    .squart-span{
        width: 30%;
        height: 110vh;
    }
    .img-about{
        width: 40%;
        height: 70%;
        position: static;
        left: 0%;

    }
    .img-about img{
        object-fit: contain;
       
    }

    .sect-card{
        justify-content: center;
    }
    .card{
        width: 20%;
        margin-left: 1em;
    }


    .card-title{
        width: 100%;
        margin-top: 1em;
        background: none;
    }

    .card-title h2{
        width: 30%;
        font-size: 1.5em;
        background-color: #0572FF;
    }

    .title-proyecto{
        height: 70px;
        
    }
    .title-proyecto h2{
        height: 100%;
        font-size: 1.5em;
        letter-spacing: 1px;
        background-color: #ffffff;
        color: #0347a0;
        text-align: start;
        font-weight: 500;
    }

   
}